doctype html
html
    head
        title=title
    body
        div#upload 这里是上传图片和视频的表单
            form(method="post" action="/upload" enctype="multipart/form-data")
                input(type="file" class="upload" name="avatar")
                input(type="submit" id="submit")